<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button text="" (click)="cerrarModal()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title color="primary">Detalle de {{proveedor.nombre}}</ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content class="background">
  <ion-card color="success" *ngIf="!edit" mode="ios">
    <ion-card-content>
      <h1>CIF: {{proveedor.cif}}</h1>
      <h1>Dirección: {{proveedor.direccion}}</h1>
      <h1>Teléfono: {{proveedor.telefono}}</h1>
      <h1>Correo electrónico: {{proveedor.correo}}</h1>
      <div class="ion-text-center">
        <ion-button (click)="editar()" expand="block" type="submit" *ngIf="admin || farma">
          Editar
          <ion-icon slot="start" name="create"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="edit">
    <ion-card-content>
      <ion-item class="itemInput">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="proveedor.nombre" name="nombre"></ion-input>
      </ion-item>
      <ion-item class="itemInput">
        <ion-label position="floating">CIF</ion-label>
        <ion-input [(ngModel)]="proveedor.cif" name="cif"></ion-input>
      </ion-item>
      <ion-item class="itemInput">
        <ion-label position="floating">Dirección</ion-label>
        <ion-input [(ngModel)]="proveedor.direccion" name="direccion"></ion-input>
      </ion-item>
      <ion-item class="itemInput">
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input [(ngModel)]="proveedor.telefono" name="telefono"></ion-input>
      </ion-item>
      <ion-item class="itemInput">
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input [(ngModel)]="proveedor.correo" name="correo"></ion-input>
      </ion-item>
      <ion-button (click)="guardarProveedor()" expand="block" shape="round">
        ACtualizar Proveedor
      </ion-button>
    </ion-card-content>    
  </ion-card>

</ion-content>
