.image {
    padding: 10px;
    border: 1px solid #e9ecef;
    width: 100%;
    border-radius: 20 px;
    margin: auto;
}

.itemInput {
    --background: #0a5bf0dc;
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 15px;
}