<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="first">
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Histórico de Ventas</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Buscar producto" inputmode="text" (ionChange)="onSearchChange($event)" [debounce]="250"
    animated></ion-searchbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let pedido of pedidos">
    <ion-item (click)="muestraDetalle(pedido,i)">
      <ion-label>{{pedido.fecha.seconds * 1000 | date:'dd/MM/yyyy'}}</ion-label>
      <h3>{{pedido.precioTotal}} €</h3>
    </ion-item>
    
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="hacerCaja()">
      <ion-icon name="cash"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
