<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="first">
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Histórico de Ventas</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Buscar producto" inputmode="text" (ionChange)="onSearchChange($event)" [debounce]="250"
    animated></ion-searchbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let venta of ventas">
    <ion-item (click)="muestraDetalle(venta,i)">
      <ion-label>{{venta.fecha.seconds * 1000 | date:'dd/MM/yyyy'}}</ion-label>
      <h3>{{venta.precioTotal}} €</h3>
    </ion-item>
    
  </ion-list>

 

</ion-content>
