<ion-app>
  
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      
      <ion-list>
        <ion-menu-toggle>
          <ion-item [routerDirection]="'root'" [routerLink]="'listado'">
            <ion-icon color="primary" slot="start" name="list"></ion-icon>
            <ion-label color="primary">Listado</ion-label>        
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'venta'">
            <ion-icon color="primary" slot="start" name="cart"></ion-icon>
            <ion-label color="primary">Venta</ion-label>          
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'historico-ventas'">
            <ion-icon color="primary" slot="start" name="alarm"></ion-icon>
            <ion-label color="primary">Histórico de Ventas</ion-label>        
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'cajas'">
            <ion-icon color="primary" slot="start" name="cash"></ion-icon>
            <ion-label color="primary">Cajas</ion-label>        
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'pedidos'">
            <ion-icon color="primary" slot="start" name="basket"></ion-icon>
            <ion-label color="primary">Pedidos a Proveedores</ion-label>        
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'proveedores'">
            <ion-icon color="primary" slot="start" name="airplane"></ion-icon>
            <ion-label color="primary">Proveedores</ion-label>        
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'familias'">
            <ion-icon color="primary" slot="start" name="file-tray-stacked"></ion-icon>
            <ion-label color="primary">Familias</ion-label>        
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'usuarios'">
            <ion-icon color="primary" slot="start" name="people-circle"></ion-icon>
            <ion-label color="primary">Usuarios</ion-label>        
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'log'">
            <ion-icon color="primary" slot="start" name="book"></ion-icon>
            <ion-label color="primary">Log</ion-label>        
          </ion-item>

        </ion-menu-toggle>
        

      </ion-list>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="logout()" color="danger">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-fab-button>          
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button (click)="info()" size="small">
          <ion-icon name="information"></ion-icon>
        </ion-fab-button>          
      </ion-fab>

    </ion-content>
  </ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>
</ion-app>