<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button text="" (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Venta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card color="success" *ngFor="let producto of productos">
    <ion-card-content>
      <h1>{{producto.producto.descripcion}}</h1>
      <h1>Cantidad: {{producto.cantidad}}</h1>
      <h1>PVP: {{producto.producto.pvp}} €</h1>
    </ion-card-content>
  </ion-card>
  

</ion-content>

<ion-footer color="success">
  <h1 class="ion-text-center" >TOTAL: {{venta.precioTotal}} €</h1>
</ion-footer>
