<ion-header class="ion-no-border" >
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="first">
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Log</ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content class="background">
  <ion-card *ngFor="let log of logs">
    <ion-card-content>
      <h2> {{log.fecha.seconds * 1000 | date: 'short'}} </h2>
      <h2> {{log.user}} </h2>
      <h2> {{log.accion}} </h2>
    </ion-card-content>
  </ion-card>

</ion-content>
