<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button text="" (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Nueva Familia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="save()">
        
        <ion-item class="itemInput">
          <ion-label position="floating">Descripcion</ion-label>
          <ion-input [(ngModel)]="newFamilia.descripcion" name="descripcion"></ion-input>
        </ion-item>
        <ion-item class="itemInput">
          <ion-label position="floating">IGIC</ion-label>
          <ion-input [(ngModel)]="newFamilia.impuesto" name="impuesto"></ion-input>
        </ion-item>
        <ion-item class="itemInput">
          <ion-label position="floating">Beneficio</ion-label>
          <ion-input [(ngModel)]="newFamilia.ganancia" name="ganancia"></ion-input>
        </ion-item>
        
        <ion-button type="submit" expand="block">
          Guardar Familia
          <ion-icon slot="start" name="save"></ion-icon>
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>